@charset "utf-8";
/* CSS Document */
* {
	box-sizing: border-box;
}
body{
	background: rgba(34,167,202,1.00) url("coffeefall.jpg") repeat;
	visibility: inherit;
	display: block
	}
.left{ 
width: 380px;
	background-color: rgba(0,0,0,1.00);
	border-radius: 25px;
	float: left;
	margin: 0, 10, 0, 10;
}
.right{
	width: 380px;
	background-color: rgba(0,0,0,1.00);
	border-radius: 25px;
	float: right;
	margin: 0, 10, 0, 10;
}
